*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --primary-color: #f1e4e4;
    --secondary-color: #212121;
}
body{
    background:var(--primary-color);
}
.dark{
     --primary-color: #131b1b;
    --secondary-color: #f1e4e4;
}
.home{
    widows: 100%;
    background:var(--primary-color);
    position: relative;
}
nav{
    height: 50px;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.logo{
    width:100px;
    font-size: 32px;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.logo i{
    margin-right:10px;
    color:rgb(118, 84, 212);
}
nav ul{
    flex:1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    margin: 10px 25px;


}
nav ul li a{
    color: var(--secondary-color);
    transition: .5s;
}
nav ul li a:hover{
    color:rgb(118, 84, 212);
}
nav button{
    border: none;
    outline: none;
    background:transparent;
    font-size: 18px;
    color:var(--secondary-color);
}
.content{
    margin-left: 8%;
    margin-top: 10%;
}
.content h1{
    font-size: 70px;
    margin-bottom: 20px;
    color: var(--secondary-color);

}
span{
    color: rgb(118, 84, 212);
}
.content p{
    line-height: 22px;
    font-size: 22px;
    color: var(--secondary-color);
    text-align: justify;
    width: 50%;
}
.content a{
    background: var(--secondary-color);
    padding: 10px;
    color: var(--primary-color);
    margin: 30px 0;
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 5px;
}
.content a:hover{
    color: rgb(118, 84, 212);
    border: #edf2fc;
}
.img-gw{
    width: 45%;
    height: 80%;
    position: absolute;
    top: 70px;
    right: 100px;
}
.img-gw img{
    height: 90%;
    position: absolute;
    left: 20%;
    bottom: 0;

}
.sosial{
    margin-left: 8%;
    margin-top:8%;
}
.sosial a{
    font-size: 30px;
    color: var(--secondary-color);
    margin-right: 20px;
    transition: .5s;
}
.sosial a:hover{
    color: rgb(118, 84, 212);
}
.skills{
    padding: 40px 8%;
}
.moreskills{
    font-size: 2rem; 
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.skillslist{
    display: flex; 
    gap: 15px;  
    flex-wrap: wrap;
    max-width: 1000px;
}

.skillslist span{
    background: #222; 
    padding: 10px 20px; 
    border-radius: 8px; 
    border: 1px solid #333;
}
.tittle{
    font-size: 50px;
    margin: 40px 8%;
    color: var(--secondary-color);
}
.listporto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 8%;
    padding: 30px 8%;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    background-color: rgb(118, 84, 212);

}
.img-salcorner img{
    height: 20%;
    width: 80%;
}
.deskripsi{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.project-tags{
    display: flex; 
    gap: 15px;  
    flex-wrap: wrap;
    max-width: 1000px;
}
.project-tags span{
    background: #222; 
    padding: 10px 20px; 
    border-radius: 8px; 
    border: 1px solid #333;
    color: #ffffff;
}
.project-links{
    margin-top: 1%;
}
.project-links a{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    padding: 10px 20px; 
    border-radius: 8px; 
    border: 1px solid #333;
    transition: .5s;
}
.project-links a:hover{
    background: rgb(216, 96, 247);
    color: white
}